
<div class="row">
	<!-- P1 -->
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<div class="project-card">
			<%= link_to "/" do %>
				<div class="project-card-display">
					<div class="image">
						<%= image_tag "project-flare.png" %>
					</div>
				</div>
				<div class="project-card-hover">
					<h2>PROJECT NAME</h2>
					<p>Description of the project</p>
					<p class="mauve">Click to see project</p>
				</div>
			<% end %>
			<div class="project-card-border mauve"></div>
		</div>
	</div>
	<!-- P2 -->
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<div class="project-card">
			<%= link_to "/" do %>
				<div class="project-card-display">
					<div class="image">
						<%= image_tag "project-flare.png" %>
					</div>
				</div>
				<div class="project-card-hover">
					<h2>PROJECT NAME</h2>
					<p>Description of the project</p>
					<p class="yellow">Click to see project</p>
				</div>
			<% end %>
			<div class="project-card-border yellow"></div>
		</div>
	</div>
	<!-- P3 -->
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<div class="project-card">
			<%= link_to "/" do %>
				<div class="project-card-display">
					<div class="image">
						<%= image_tag "project-flare.png" %>
					</div>
				</div>
				<div class="project-card-hover">
					<h2>PROJECT NAME</h2>
					<p>Description of the project</p>
					<p class="pink">Click to see project</p>
				</div>
			<% end %>
			<div class="project-card-border pink"></div>
		</div>
	</div>

	<!-- P4 -->
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<div class="project-card">
			<%= link_to "/" do %>
				<div class="project-card-display">
					<div class="image">
						<%= image_tag "project-flare.png" %>
					</div>
				</div>
				<div class="project-card-hover">
					<h2>PROJECT NAME</h2>
					<p>Description of the project</p>
					<p class="red">Click to see project</p>
				</div>
			<% end %>
			<div class="project-card-border red"></div>
		</div>
	</div>
</div>
