<div class="show-page-wrapper">
	<div class="child" class="about-info-boxes" id="project-boxes">
		<div class="about-info-main">
			<div class="about-info-paragraph">
				<h3><%= @project.name %></h3>
				<p> <%= @project.description %></p>
			</div>
		</div>
		<div class="about-info-red"></div>
		<div class="about-info-pink"></div>
	</div>
	<div class="show-page-browser">
		<div class="browser">
			<div class="browser-header">
				<span class="browser-button minimize"></span>
				<span class="browser-button close"></span>
				<span class="browser-button maximize"></span>
			</div>
			<div class="browser-content">
				<%= image_tag @project.photo, :class=>'browser-image' %>
			</div>
		</div>
		<br>
		<div class="show-page-social">
			<div class="show-page-social-group">
				<%= link_to 'Github', @project.git_url, target: "_blank", class: 'show-page-social-link' %>
				<%= link_to 'Website', @project.web_url, target: "_blank",class: 'show-page-social-link' %>
			</div>
			<%= link_to 'Back', projects_path, class: 'show-page-social-back' %>
		</div>
	</div>
</div>